pkgbase = oink
	pkgdesc = A lightweight DDNS client for Porkbun
	pkgver = 1.2.1
	pkgrel = 1
	url = https://github.com/RLado/Oink
	arch = x86_64
	license = MIT
	makedepends = go
	depends = glibc
	backup = etc/oink_ddns/config.json
	source = https://github.com/RLado/Oink/archive/refs/tags/v1.2.1.tar.gz
	sha256sums = c28060cedb8a8e894c753ca44728e19636d8cb51c23cc1222e716c5d3d250725

pkgname = oink
