pkgbase = oink
	pkgdesc = A lightweight DDNS client for Porkbun
	pkgver = 1.1.1
	pkgrel = 1
	url = https://github.com/RLado/Oink
	arch = x86_64
	license = MIT
	makedepends = go
	depends = glibc
	backup = etc/oink_ddns/config.json
	source = https://github.com/RLado/Oink/archive/refs/tags/v1.1.1.tar.gz
	sha256sums = e1ca4e6554e22ccbe9d40a629adc4a26567fe8f041023d2773054b94e3c60852

pkgname = oink
